<h1>Places</h1>

<div class="row gx-5">
  <ul>
    <% for place in @places %>
    <div class="p-3">
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    </div>
    <% end %>
  </ul>

  <% if session[:user_id] %>
    <p>
      <a href="/places/new">New place</a>
    </p>
  <% end %>
</div>